/*why do we have tzhis?*/
.a-enter-vr.fullscreen .a-enter-vr-button {
  visibility: hidden;
}

/* transpartency value for selected menu-buttons*/
.menu-button.transparent {
  opacity: 0.5;
}

.menu-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.swal2-confirm:focus {
  outline: 3px solid #F2BC1B; /* Or any color that suits your design */
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* Buttons and placement */
#button-container {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#button-container button {
  flex: 1;
  margin: 0 80px;
  height: 70px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  /*border: 2px solid white;
  /*border-radius: 10px;*/
}

@media (max-width: 600px) {
  #button-container {
    flex-direction: column;
    bottom: -20px; /* This positions the button container at the bottom for mobile */
    top: auto; /* Optional: Explicitly override any top value if necessary */
    height: auto; /* Adjust height to be auto or a specific value that fits your design */
  }

  #menu-buttons {
    flex-direction: row;
    margin-bottom: 60px;
  }

  #button-container button {
    margin: 0 6px;
    height: 60px;
  }

  #button-container button {
    font-size: 14px; /* Smaller font size for mobile */
  }
}

#controls {
  position: fixed;
  z-index: 1;
}
#menu-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

#menu-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
